body{
    background-image: url(./assets/img/banner/banner1.png) ;
    background-repeat: no-repeat;
    background-size: 2000px 350px;
}
#video {
text-align: center;
}

#tittle{
    background-color: black;
    color: white;
    font-size: x-large;
    text-align: center;
    
}

#tittle2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

card1{
    width: 60px;
    height: 60px;
}

#preText{
    text-align: center;
    font-size: large;
}
#preText1{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#preText2{
    margin-left: 15px;
}